<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Jobs Master</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content>
	<meta name="keywords" content>

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/chosen.css">
	<link rel="stylesheet" type="text/css" href="css/colors.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="newbg">

<div class="page-loading">
	<img src="images/loader.gif" alt>
</div>

<div class="theme-layout" id="scrollup">
	
	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class=""><a href="/" title><img src="images/jmlogowhite.jpg" alt></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="images/icon.png" alt> Menu
				</div>
				<div class="res-closemenu">
					<img src="images/icon2.png" alt> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
            <div class="btn-extars">
                <a href="#" title class="jmhur post-job-btn signup-popup"><i class="la la-plus"></i>Upload Resume</a>
                <a href="#" title class="jmhur2 post-job-btn signin-popup"><i class="la la-external-link-square"></i>Post Jobs</a>
            </div><!-- Btn Extras -->
			<div class="responsivemenu">
				<ul>
                    <li class="menu-item">
                        <a href="/" title>Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="/about" title>About</a>
                    </li>
                    <li class="menu-item">
                        <a href="/contact" title>Contact us</a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
	
	<header class="stick-top forsticky new-header">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="/" title><img src="images/jmlogoblue1.jpg" alt></a>
				</div><!-- Logo -->
                <div class="btn-extars">
					<a href="#" title class="jmhur post-job-btn signup-popup"><i class="la la-plus"></i>Upload Resume</a>
					<a href="#" title class="jmhur2 post-job-btn signin-popup"><i class="la la-external-link-square"></i>Post Jobs</a>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
                        <li class="menu-item">
                            <a href="/" title>Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="/about" title>About</a>
                        </li>
                        <li class="menu-item">
                            <a href="/contact" title>Contact us</a>
                        </li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>