<% include partials/header %>

	<section class='jmct'>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>About Us</h3>
								<span>Keep up to date with the latest news</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li><a href="/" title>Home</a></li>
									<li><a href="/about" title>About</a></li>
									<li><a href="/contact" title>Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				 <div class="row">
				 	<div class="col-lg-12">
				 		<div class="about-us">
				 			<div class="row">
				 				<div class="col-lg-12">
				 					<h3>About The Jobs Master </h3>
				 				</div>
				 				<div class="col-lg-7">
				 					<p>At The Jobs Master, we work for a main purpose: “Making people go to work with a smile” This is our mission. Going to work with a smile is metaphoric for the satisfaction that a good match between an employee and an employer generates.</p>
				 					<p>The mutual satisfaction of employee and employer is extremely meaningful for the individual and society. According to the happiness economist Sir Richard Layard, satisfaction with work is one of the most crucial factors for overall happiness of a person.</p>
				 				</div>
				 				<div class="col-lg-12">
				 					<p>This is why the work we do at The Jobs Master is so meaningful; if we excel in matching the right people with the right jobs, we make a huge difference in the quality of lives and the happiness of people, or in other words: we will produce millions of smiles, day after day, in many parts of the world.</p>
				 					<p>The Jobs Master is here to make the hiring process easier than ever before. Here, we ensure a professional easy and transparent process for the recruiters and the candidates.</p>
				 				</div>
				 			</div>
				 			
				 		</div>
				 	</div>
				 </div>
			</div>
		</div>
	</section>

<% include partials/footer %>