<% include partials/header %>

	<section class='jmct'>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>Contact</h3>
								<span>Reach us out with any query you may have.</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li><a href="/" title>Home</a></li>
									<li><a href="/about" title>About</a></li>
									<li><a href="/contact" title>Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<section>
		<div class="block">
			<div class="container">
				 <div class="row">
				 	<div class="col-lg-6 column">
				 		<div class="contact-form">
				 			<h3>Query form</h3>
				 			<form method='post' action='/querymail'>
				 				<div class="row">
				 					<div class="col-lg-12">
				 						<span class="pf-title">Full Name</span>
				 						<div class="pf-field">
				 							<input type="text" name='queryname' placeholder="Your name">
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<span class="pf-title">Email</span>
				 						<div class="pf-field">
				 							<input type="text" name='queryemail' placeholder="Your email">
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<span class="pf-title">Subject</span>
				 						<div class="pf-field">
				 							<input type="text" name='querysubj' placeholder="Subject">
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<span class="pf-title">Message</span>
				 						<div class="pf-field">
				 							<textarea name='querymessage'></textarea>
				 						</div>
				 					</div>
				 					<div class="col-lg-12">
				 						<button type="submit">Send</button>
				 					</div>
				 				</div>
				 			</form>
				 		</div>
				 	</div>
				 	<div class="col-lg-6 column">
					 	<div class="contact-textinfo style2">
					 		<h3>The Jobs Master Office</h3>
					 		<ul>
					 			<li><i class="la la-map-marker"></i><span>633/A-21, Gulzar Colony,Chinhat, Lucknow. </span></li>
					 			<li><i class="la la-phone"></i><span>Call Us : +91 8299 674 734</span></li>
					 			<li><i class="la la-envelope-o"></i><span>Email : jobsmasterinfo@gmail.com</span></li>
					 		</ul>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>


<% include partials/footer %>