<% include partials/header %>

	<section>
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-featured-sec">
							<div class="new-slide-3">
								<img src="images/vector-4.png">
							</div>
							<div class="job-search-sec">
								<div class="job-search">
									<h3>The Easiest Way to Get Your New Job</h3>
									<span>Find Jobs, Employment & Career Opportunities</span>
								</div>
							</div>
							<div class="scroll-to">
								<a href="#scroll-here" title><i class="la la-arrow-down"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="scroll-here">
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Popular Job Categories</h2>
						</div><!-- Heading -->
						<div class="cat-sec">
							<div class="row no-gape">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-bullhorn"></i>
											<span>Design, Art & Multimedia</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-graduation-cap"></i>
											<span>Education Training</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-line-chart "></i>
											<span>Accounting / Finance</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-users"></i>
											<span>Human Resource</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="cat-sec">
							<div class="row no-gape">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-phone"></i>
											<span>Telecommunications</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-cutlery"></i>
											<span>Restaurant / Food Service</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-building"></i>
											<span>Construction / Facilities</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-user-md"></i>
											<span>Health</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="browse-all-cat">
							<a href="#" class='signin-popup' title>Post a job</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block double-gap-top double-gap-bottom">
			<div data-velocity="-.1" style="background: url(images/parallax1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text-block">
							<h3>Make a Difference with Your Online Resume!</h3>
							<span>Your resume in minutes with JobHunt resume assistant is ready!</span>
							<a href="#" class='signup-popup' title>Upload your resume now!</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	
	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>How We Work</h2>
							<span>A brief outlook on our working methodology.</span>
						</div><!-- Heading -->
						<div class="cat-sec">
							<div class="row no-gape">
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-upload"></i>
											<span>Post your job.</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-phone"></i>
											<span>We contact eligible candidates.</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-group"></i>
											<span>We screen qualified candidates.</span>
										</a>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6">
									<div class="p-category">
										<a href="#" title>
											<i class="la la-check-square"></i>
											<span>You interview the candidate and hire.</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div data-velocity="-.1" style="background: url(images/parallax2.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color light"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading light">
							<h2>Kind Words From Happy Candidates</h2>
							<span>What other people thought about the service provided by The Jobs Master</span>
						</div><!-- Heading -->
						<div class="reviews-sec" id="reviews-carousel">
							<div class="col-lg-6">
								<div class="reviews">
                                    <img src="images/r1.jpeg" alt>
									<h3>Kirti Singh <span>Amdocs</span></h3>
									<p>Without The Jobs Master I’d be unemployed, they found me a job and got me sorted out quickly with everything! Can’t find a better service</p>
								</div><!-- Reviews -->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
                                    <img src="images/r2.jpeg" alt>
									<h3>Sachin Singh<span>Ansaldo STS</span></h3>
									<p>Thank you The Jobs Master for finding me the right opportunities, I'll recommend it to all my contacts.</p>
								</div><!-- Reviews -->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
                                    <img src="images/r3.jpeg" alt>
									<h3>Astha Pandey <span>HDFC</span></h3>
									<p>I am thankful for the services of The Jobs Master who helped me with advancement of my career.</p>
								</div><!-- Reviews -->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
                                    <img src="images/r4.jpeg" alt>
									<h3>Ravi Yadav<span>Axis Bank</span></h3>
									<p>The Jobs Master found the right place for me, and I'm thankful for their services.</p>
								</div><!-- Reviews -->
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>


	

<% include partials/footer %>